*{
    margin: 0;
    padding: 0;
}

body{
 background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(78,21,153,1) 100%);
background-repeat: no-repeat;

font-family: 'Roboto Mono', monospace;

height: 100vh;
}

main{
    margin: 5rem auto;

    width: 40rem;
    height: 25rem;
    border-radius: 10px;
    padding: 2px;


    background: rgb(253,0,255);
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(253,0,255,1) 0%, rgba(255,248,0,1) 50%, rgba(5,252,200,1) 100%);
}

.formulario{

    width: 40rem;
    height: 25rem;

    background: #220244;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;

    color: aliceblue;
    font-weight: bold;

    gap:10px;
}

.formulario input{
    height: 30px;
    width: 400px;

    margin: 0 auto 0;

    border-radius: 5px;

    font-weight: bold;

    padding-left: 10px
}

.formulario button{
    height: 45px;
    width: 300px;

    margin: 40px auto 10px;
    cursor: pointer;

    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: aliceblue;

    background: radial-gradient(circle, rgb(167, 37, 199) 10%, rgb(178, 2, 248) 40%, rgb(34, 2, 68) 100%);
    
    border: none;

    border-radius: 10px;
}

